*{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #830606;
}

.container img {
    width: 25%;
    max-width: 100%;
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px 0;
    border-bottom: #830606;
}


.barraNav {
    flex-grow: 1;
    text-align: center;
}

.barraNav h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links {
    text-align: end;
    list-style-type: none;
    margin-bottom: 15px;
    padding: 0;
}

.nav-links li {
    background-color: #830606;
    display: inline-block;
    margin-left: 30px;
}

.nav-links li a {
    margin-bottom: auto;
    color: #fff;
    background-color: #830606;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: 0.8s;
}

.nav-links li a:hover {
    background-color: #ffffff;
    color: #830606;
}


.content {
    padding: 50px 0;
    text-align: center;
}

.div2 {
text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

.div2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    min-height: 100px;
    min-width: 100px;
}

h1{
    margin-right: 15px;
    text-align: end;
    color: #830606;
}

/* Css Rodape*/
footer {
	background-color: #7e7d7d;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

p{
    font-size: 15px;
}